:root {
  /* Fonts */
  --main-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Text colors */
  --main-txt-cl: #303030;
  --accent-txt-cl: #ff6c00;
  --light-txt-cl: #ffffff;
  --dark-txt-cl: #555555;

  --grey-cl: rgb(157, 164, 189);
  --grey-cl-60: rgba(157, 164, 189, 0.6);

  /* BG colors */
  --dark-bg-cl: #191c26;
  --accent-bg-cl: #ff6c00;

  /* Others */
  --btn-radius: 25px;
  --items: 3;
  --indent: 30px;
}

/**
  |============================
  | Base styles
  |============================
*/
body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
}

/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /*
  outline: 2px solid red;
  outline-offset: -2px; */
}

.main-title {
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--light-txt-cl);
}

.uppertitle {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.uppertitle::before {
  content: '';
  display: block;

  width: 60px;
  height: 1px;

  background-color: var(--main-txt-cl);
}

.uppertitle-theme-dark {
  color: var(--grey-cl-60);
}

.uppertitle-theme-dark::before {
  background-color: var(--grey-cl-60);
}

.title {
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}

.title-theme-dark {
  margin-bottom: 44px;
  color: var(--light-txt-cl);
}

.undertitle {
  margin-bottom: 20px;
  color: var(--dark-txt-cl);
}

.undertitle-theme-dark {
  color: var(--grey-cl);
}

.btn {
  width: 160px;
  min-height: 40px;
  padding: 10px 16px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--main-txt-cl);

  background-color: transparent;
  border: 1px solid var(--accent-bg-cl);
  border-radius: var(--btn-radius);
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-bg-cl);
}

.btn-theme-dark {
  color: var(--light-txt-cl);
}

.btn-theme-dark:hover,
.btn-theme-dark:focus {
  background-color: var(--accent-bg-cl);
}

/**
  |============================
  | Card set
  |============================
*/
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.card-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

/* media links */
.media-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.media-list::before {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  background-color: var(--main-txt-cl);
}

.media-link {
  display: block;
}
/**
  |============================
  | Header
  |============================
*/
.header {
  background-color: var(--dark-bg-cl);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-link {
  margin-right: 132px;
}

.header-logo {
  fill: var(--main-txt-cl);
}

.header-nav {
  margin-right: auto;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* .header-item:not(:last-child) {
  margin-right: 30px;
} */

.header-nav-link,
.header-contact {
  display: block;
  padding-top: 52px;
  padding-bottom: 52px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--light-txt-cl);
}

.header-group {
  display: flex;
  align-items: center;
}

.header-contact {
  margin-right: 40px;
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-txt-cl);
}

/**
  |============================
  | Hero
  |============================
*/
.hero {
  background-color: #191c26;

  /* background-image: url(../images/icons/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right; */
}

.media-link {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  color: #303030;
}

.media-link:hover,
.media-link:focus {
  color: var(--accent-txt-cl);
}

.slider-btn {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;

  color: var(--light-txt-cl);

  background-color: transparent;

  cursor: pointer;
}

/**
  |============================
  | About
  |============================
*/
.about-container {
  display: flex;
  gap: 30px;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-right-side {
  width: 470px;
}

.about-desc {
  margin-bottom: 42px;

  font-size: 14px;
  line-height: calc(26 / 14);
  letter-spacing: 0.02em;
  color: var(--dark-txt-cl);
}

/**
  |============================
  | Price
  |============================
*/
.price {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--dark-bg-cl);
  background-image: url(../images/price/price-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.price-block {
  display: flex;
  justify-content: space-between;

  margin-bottom: 44px;
}

.price-list {
  flex-basis: 570px;
  padding: 30px 20px;
}

.price-list:first-child {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.price-list:last-child {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-item {
  display: flex;
  align-items: baseline;
  gap: 12px;
  margin-bottom: 20px;
  color: var(--grey-cl);
}

.price-item::before {
  content: '';
  display: block;
  height: 1px;

  flex-grow: 1;

  background-color: rgba(157, 164, 189, 0.12);
}

.price-item:last-child {
  margin-bottom: 0;
}

.price-item-serv {
  order: -1;
}

.price-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/**
  |============================
  | Benefits
  |============================
*/
.benefits-container {
  display: flex;
}

.benefits-left-side {
  flex-basis: 50%;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  width: 370px;
}
.benefits-quantity {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;

  color: #303030;
}

.benefits-decor {
  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  text-align: center;
  color: #ff6c00;
}

.benefits-right-side {
  flex-basis: 500px;
}

.benefits-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-align: center;

  color: #303030;
}
/**
  |============================
  | Team
  |============================
*/
.team {
  background-color: #f7f7f7;
}

/* .team-list {
  --items: 3;
} */

/* .team-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.team-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
} */
/*
.team-item {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4), 6px 6px 10px rgba(0, 0, 0, 0.2);
} */

.team-wrap {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.team-name {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
}

.team-position {
  margin-bottom: 30px;

  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--accent-txt-cl);
}

/* socials */
.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  color: var(--main-txt-cl);
  background-color: var(--light-txt-cl);
  border-radius: 50%;
}

/* варіант для лінивих */
.socials-link:hover,
.socials-link:focus {
  color: var(--accent-bg-cl);
  background-color: lightblue;
}

.socials-icon {
  fill: currentColor;
}

/* розширений варіант зміни кольору іконки */
/*
.socials-icon {
  fill: var(--main-txt-cl);
}
.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: var(--accent-bg-cl);
} */

/**
  |============================
  | Gallery
  |============================
*/
.gallery-list {
  --items: 4;
}
/**
  |============================
  | Booking
  |============================
*/
.contatcs-group {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--dark-bg-cl);
  background-image: url(../images/contatcs/contacts-bg.png);
  background-repeat: no-repeat;
  background-position: left calc(50% + 410px) top;
}

.booking,
.contacts {
  flex-basis: 50%;
}

.contacts {
  padding-left: 100px;
}

.contacts-link {
  display: flex;
  align-items: center;
  gap: 16px;
}

.contacts-item:first-child .contacts-link {
  align-items: flex-start;
}

.contacts-icon {
  fill: none;
  stroke: var(--grey-cl);
}
/**
  |============================
  | Contatcs
  |============================
*/
.contatcs-group-container {
  display: flex;
}

.contacts-address {
  font-style: normal;
  margin-bottom: 70px;
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-link {
  color: var(--grey-cl);
}

.contacts-uppertitle {
  color: var(--light-txt-cl);
}

.contacts-schedule {
  color: var(--grey-cl);
}
/**
  |============================
  | Footer
  |============================
*/
.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}
.footer-container {
  display: flex;
  align-items: center;
}

.footer-copyright {
  margin-right: auto;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  color: var(--grey-cl);
}

/* .svg-element {
  animation: rotation linear 2s infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
} */

/* .antena {
  --color1: red;
  --color2: teal;
}
.antena:hover {
  --color1: lightblue;
  --color2: hotpink;
} */
