a {
  color: currentColor;
  text-decoration: none;
}

.header {
  padding: 50px 0;
  font-size: 2em;
  color: white;

  background-color: blueviolet;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.container {
  width: 1000px;
  padding: 0 10px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  gap: 80px;
}

.menu {
  position: relative;

  padding: 10px;
  font-size: 1.2rem;
  outline: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.menu-wrapper {
  position: absolute;
  top: 100%;
  left: 0;

  width: 150px;
  border-top: 20px solid transparent;
  background-color: #ff9500;
  background-clip: content-box;
}

.menu-item {
  position: relative;
  padding: 15px;
}

.menu-item:not(:last-child) {
  border-bottom: 2px solid black;
}

.inner-menu-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  padding-left: 20px;
  width: 200px;

  background-color: tomato;
  background-clip: content-box;
}

.inner-menu-item {
  padding: 10px;
}

.inner-menu-item:not(:last-child) {
  border-bottom: 2px solid black;
}
