.media-list {
  display: flex;
  align-items: center;
  gap: 40px;

  &::before {
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    background-color: var(--main-txt-cl);
  }
}

.media-list__link {
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  color: #303030;

  transition: color var(--anim-fast);

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }
}
