/* block media-list */
.media-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.media-list::before {
  content: '';
  display: block;
  width: 1px;
  height: 60px;

  background-color: var(--main-txt-cl);
}

.media-list__link {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  color: #303030;

  transition: color var(--anim-fast);
}

.media-list__link:hover,
.media-list__link:focus {
  color: var(--accent-txt-cl);
}
