.register-form-title {
  display: block;
  text-align: center;
  font-size: 20px;
  margin-bottom: 25px;
}

.register-form-group {
  margin-bottom: 20px;
}

.register-form-field {
  position: relative;
  display: block;
  margin-bottom: 25px;
}

.register-form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);

  display: block;

  transition: transform var(--anim-fast);
}

.register-form-input:focus + .register-form-label,
.register-form-input:not(:placeholder-shown) + .register-form-label {
  transform: translate(-42px, -170%) scale(0.8);
}

.register-form-input {
  width: 100%;
  height: 45px;
  padding-left: 42px;
  padding-right: 42px;

  border: 1px solid #191c26;
  border-radius: 10px;
  outline: transparent;

  transition: border-color var(--anim-fast);
}

.register-form-input:focus,
.register-form-input:not(:placeholder-shown) {
  border-color: #ff6c00;
}

.register-form-input::placeholder {
  opacity: 0;
  transition: opacity var(--anim-fast);
}

.register-form-input:focus::placeholder {
  opacity: 1;
}

.register-form-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);

  transition: fill var(--anim-fast);
}

.register-form-input:focus ~ .register-form-icon,
.register-form-input:not(:placeholder-shown) ~ .register-form-icon {
  fill: #ff6c00;
}

.register-form-notification {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: block;
}

.success,
.warning {
  opacity: 0;
  transition: opacity var(--anim-fast) 200ms;
}

.warning {
  fill: #e42312;
}

.success {
  fill: #00781c;
}

.register-form-input:not(:placeholder-shown):focus:invalid ~ .register-form-notification .warning {
  opacity: 1;
}

.register-form-input:not(:placeholder-shown):focus:valid ~ .register-form-notification .success {
  opacity: 1;
}

.register-form-heading {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}

.register-form-message {
  display: block;
  width: 100%;
  height: 130px;
  padding: 18px;

  font-size: 14px;

  resize: none;
  outline: transparent;
  border: 1px solid #191c26;
  border-radius: 10px;
}

.register-form-message::placeholder {
  font-size: 14px;
}

.register-form-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  margin-bottom: 20px;
}

.icon-checked {
  opacity: 0;
  fill: #ff6c00;
  transition: opacity var(--anim-fast);
}

.register-form-checkbox:checked + .register-form-icons .icon-checked {
  opacity: 1;
}
.icon-unchecked {
  transition: opacity var(--anim-fast);
}

.register-form-checkbox:checked + .register-form-icons .icon-unchecked {
  opacity: 0;
}

/* Перевірка стану чекбокса перед встановленням стану фокусу сусідньому елементу */
.register-form-checkbox:focus-visible:not(:checked) + .register-form-icons,
.register-form-checkbox:focus-visible:checked + .register-form-icons,
.register-form-checkbox:disabled + .register-form-icons {
  outline: transparent;
}

/* Встановлення стану фокусу сусідньому елементу іконці */
.register-form-checkbox:focus:focus-visible + .register-form-icons {
  outline: 2px solid rgb(56, 87, 107);
  outline-offset: 1px;
  border-radius: 2px;
}

.register-form-desc {
  font-size: 13px;
  user-select: none;
}

.register-form-link {
  color: #ff6c00;
}

.register-form-btn {
  display: block;
  margin: 0 auto;
}
