.slider {
  position: absolute;
  right: 35px;
  bottom: 40px;

  display: flex;
  align-items: center;

  gap: 24px;
}

.slider__btn {
  min-width: 60px;

  padding: 0;
  padding-bottom: 8px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;

  color: var(--light-txt-cl);

  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--light-cl);
  cursor: pointer;
}

.slider__btn--disabled {
  color: var(--grey-cl-60);
  border-bottom-color: var(--grey-cl-60);
}

.slider__item:first-child .slider__btn {
  text-align: left;
}
.slider__item:last-child .slider__btn {
  text-align: right;
}

.slider-pagination {
  position: absolute;
  top: calc(50% - 15px);
  right: 35px;
}

.slider-pagination__item {
  width: 8px;
  height: 2px;
  margin-left: auto;
  background-color: var(--grey-cl);
}

.slider-pagination__item:not(:last-child) {
  margin-bottom: 12px;
}

.slider-pagination__item--active {
  width: 18px;
  background-color: var(--light-cl);
}
