.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  color: var(--main-txt-cl);
  background-color: var(--light-txt-cl);
  border-radius: 50%;

  transition: color var(--anim-fast), background-color var(--anim-fast);
}

.socials-link:hover,
.socials-link:focus {
  color: var(--accent-bg-cl);
  background-color: lightblue;
}

.socials-icon {
  fill: currentColor;
}
