body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
}

// .section {
//   padding-top: 120px;
//   padding-bottom: 120px;
// }

.main-title {
  margin-bottom: 20px;
  width: 450px;
  font-family: var(--secondary-font);
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: transparent;

  -webkit-background-clip: text;
  background-clip: text;

  animation: slide-right 2000ms ease-in 200ms both;
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(350px) scale(0.7);
    transform-origin: left top;
    background-image: linear-gradient(#ff6c00, #ff6c00);
    background-repeat: no-repeat;
    background-position: left -650px center;
    -webkit-text-stroke: 2px var(--dark-txt-cl);
  }

  25% {
    opacity: 1;
  }

  50% {
    transform: translateX(0) scale(0.7);
    transform-origin: center;
    -webkit-text-stroke: 2px var(--dark-txt-cl);
  }

  100% {
    transform: scale(1);
    background-image: linear-gradient(#ff6c00, #ff6c00);
    background-repeat: no-repeat;
    background-position: left 0 center;
    -webkit-text-stroke: 2px var(--accent-txt-cl);
  }
}

.uppertitle {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.uppertitle::before {
  content: '';
  display: block;

  width: 60px;
  height: 1px;

  background-color: var(--main-txt-cl);
}

.uppertitle--theme-dark {
  color: var(--grey-cl-60);
}

.uppertitle--theme-dark::before {
  background-color: var(--grey-cl-60);
}

.title {
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  font-size: 40px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;

  @media screen and (min-width: 1200px) {
    font-size: 42px;
  }
}

.title--theme-dark {
  margin-bottom: 44px;
  color: var(--light-txt-cl);
}

.undertitle {
  margin-bottom: 20px;
  color: var(--dark-txt-cl);
}

.undertitle--theme-dark {
  color: var(--grey-cl);
}
