body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  /* background-image: url(../images/pattern.jpg);
  background-size: 200px; */
}

.box {
  padding: 40px;
  border: 20px dashed red;
  width: 1000px;
  height: 1000px;

  outline: 2px solid red;
  outline-offset: -2px;
}

/**
  |============================
  | Background images
  |============================
*/
.box {
  /* fallback */
  background-color: rgba(0, 0, 0, 0.2);

  /* bg-img */
  /* background-image: url('../images/cat.jpg'); */
  /* background-repeat: no-repeat;
  background-position: top center; */
  /* background-size: cover; */

  /* background-attachment: fixed; */
  /* background-clip: border-box; */

  /* багатошаровий фон */
  background-image: url(../images/css.png), url(../images/html.png), url(../images/cat.jpg);
  background-size: 225px 300px, 200px 200px, cover;
  background-position: top 20px left 50px, right bottom, center;
  background-repeat: no-repeat;
}

.box::before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;

  border-radius: 50%;

  background-color: tomato;

  background-image: url(../images/css.png);
  background-size: contain;
}
.box::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;

  border-radius: 50%;

  background-color: tomato;

  background-image: url(../images/html.png);
  background-size: contain;
}

.link::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;

  background-color: hotpink;
}
