body {
  width: 100vw;
  height: 200vh;
  /* display: flex; */
  align-items: center;
  justify-content: center;

  /* background-image: url(../images/pattern.jpg);
  background-size: 200px; */
}

.wrapper {
  margin: 0 auto;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 800px;
  height: 400px;
  background-color: lightblue;
}

/**
  |============================
  | Background images
  |============================
*/
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 20px;

  font-size: 3em;
  color: white;
  background-color: tomato;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.box:first-child {
  background-color: teal;
}
.box:last-child {
  background-color: blueviolet;
}

/**
  |============================
  | Positioning
  |============================
*/
.inner-wrapper {
  padding: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 0, 0, 0.4);
}

.box:nth-child(2) {
  position: relative;
}
.box:nth-child(3) {
  position: absolute;
  left: 82px;
  right: 0;
  top: 100px;
  bottom: 0;
}

.fixed-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;

  width: 50px;
  height: 50px;

  color: white;
  font-size: 30px;

  background-color: hotpink;
  border: none;
  border-radius: 50%;

  padding: 0;
  cursor: pointer;
}

.header {
  position: sticky;
  top: -1px;
  z-index: 10;

  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  letter-spacing: 0.5em;
  background-color: lightgreen;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/**
  |============================
  | Overflow
  |============================
*/

.overflow {
  outline: 2px solid blueviolet;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 200px;
  height: 100px;

  overflow: auto;
}

.overflow-text {
  margin: 0 auto;
  width: 350px;
  height: 150px;
  outline: 2px dashed red;
}

/**
  |============================
  | Скруглені кути для зображення
  |============================
*/

.thumb {
  margin: 0 auto;
  width: 300px;
  height: 300px;

  border: 10px solid rgb(255, 183, 0);
  border-radius: 50%;
  background-color: rgb(254 215 54);

  overflow: hidden;
}

.thumb > img {
  display: block;
  max-width: 100%;
  height: auto;
  transition: 400ms;
  transform: translateY(100%);
}

.thumb:hover > img {
  transform: translateY(-30px);
}
