:root {
  /* Fonts */
  --main-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Text colors */
  --main-txt-cl: #303030;
  --accent-txt-cl: #ff6c00;
  --light-txt-cl: #ffffff;
  --dark-txt-cl: #555555;

  /* BG colors */
  --dark-bg-cl: #191c26;
  --accent-bg-cl: #ff6c00;
  --light-cl: #ffffff;

  /* Others */
  --grey-cl: rgb(157, 164, 189);
  --grey-cl-60: rgba(157, 164, 189, 0.6);
  --dark-cl-40: rgba(25, 28, 38, 0.4);

  --btn-radius: 25px;
  --items: 3;
  --indent: 30px;

  --anim-fast: 400ms ease;
  --anim-slow: 800ms ease-in;
}

// breakpoints
$mobile: 480px;
$tablet: 768px;
$desctop: 1200px;
