.about {
  @extend %section;
}

.about-container {
  display: flex;
  gap: 30px;

  @media screen and (min-width: 1200px) {
    gap: 64px;
  }
}

.about-list {
  display: none;

  @media screen and (min-width: 768px) {
    min-width: 330px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.about-right-side {
  @media screen and (min-width: 480px) {
    min-width: 330px;
    max-width: 470px;
  }
}

.about-desc {
  margin-bottom: 42px;

  @include fonts(null, 14px, 26px);
  color: var(--dark-txt-cl);
}
