.benefits {
  @include section;
}

.benefits-container {
  display: flex;
  flex-direction: column-reverse;

  @include mq(desk) {
    flex-direction: row;
  }
}

.benefits-left-side {
  flex-basis: 50%;
}

.benefits-list {
  max-width: 370px;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;

  margin-left: auto;

  @include mq(mob-only) {
    margin-right: auto;
  }

  @include mq(desk) {
    margin-right: auto;
  }
}

.benefits-item {
  flex-basis: 170px;
  min-height: 133px;
  padding: 20px;

  text-align: center;

  background: var(--light-bg-cl);

  &:not(:last-child) {
    margin-bottom: 30px;
    @include mq(mob) {
      margin: 0;
    }
  }

  &:nth-child(2n) {
    @include mq(mob) {
      margin-top: 30px;
      margin-left: 30px;
    }
  }
}

.benefits-quantity {
  position: relative;
  display: inline-block;

  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;

  color: #303030;
}

.benefits-decor {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(15px, 7px);

  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  text-align: center;
  color: #ff6c00;
}

.benefits-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-align: center;

  color: #303030;
}

.benefits-right-side {
  max-width: 500px;

  @include mq(not-desk) {
    margin-bottom: 44px;
  }
}
