.footer {
  @include mq(mob-only) {
    padding-top: 44px;
    padding-bottom: 44px;
  }
}

.footer-container {
  display: flex;

  @include mq(mob-only) {
    flex-direction: column-reverse;
  }

  @include mq(tab) {
    align-items: center;
  }
}

.footer-copyright {
  margin-right: auto;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  color: var(--grey-cl);
}

.footer-media-list {
  @include mq(mob-only) {
    margin-left: auto;
    margin-bottom: 20px;
  }

  &::before {
    width: 60px;
    height: 1px;
  }
}

.footer-link {
  @include mq(tab) {
    display: inline-block;
    padding-top: 56px;
    padding-bottom: 56px;
  }
}
