.footer {
  padding-top: 44px;
  padding-bottom: 44px;

  @media screen and (min-width: 1200px) {
    @include section(56px);
  }
}

.footer-container {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
  }

  @media screen and (min-width: 768px) {
    align-items: center;
  }
}

.footer-media-list {
  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-bottom: 20px;
  }
}

.footer-copyright {
  margin-right: auto;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  color: var(--grey-cl);
}
