.gallery {
  @extend %section;
}

.gallery-uppertitle {
  margin-bottom: 44px;
}

.gallery-list {
  --items: 1;

  @media screen and (min-width: 768px) {
    --items: 2;
  }

  @media screen and (min-width: 1200px) {
    --items: 4;
  }
}
