.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 100;

  transition: backdrop-filter var(--anim-slow), background-color var(--anim-slow);
}

.header.no-transparency {
  backdrop-filter: blur(4px);
  background-color: var(--dark-cl-40);
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 132px;
}

.header__group {
  display: flex;
  align-items: center;
  padding-right: 15px;
}

.header__contact {
  display: block;
  padding-top: 52px;
  padding-bottom: 52px;
  margin-right: 40px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--light-txt-cl);

  transition: color var(--anim-fast);
}

.header__contact:hover,
.header__contact:focus {
  color: var(--accent-txt-cl);
}
