.hero {
  background-color: #191c26;
}

.hero__container {
  @media screen and (min-width: 768px) {
    position: relative;
    display: flex;
  }
}

.hero__left-side {
  position: relative;
  width: 100px;
  display: flex;
  align-items: flex-end;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.hero__media-list {
  transform: rotate(-90deg);
  transform-origin: top left;
}

.hero__right-side {
  padding-top: 208px;
  padding-bottom: 208px;

  @media screen and (min-width: 768px) {
    background-color: #191c26;
    flex-grow: 1;
    padding-top: 272px;
    padding-bottom: 237px;
    padding-left: 120px;

    background-image: url(../images/hero/slider-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 206px;
    padding-left: 100px;
  }
}

.hero__undertitle {
  max-width: 360px;
  margin-bottom: 0;
}
