.hero__container {
  position: relative;
  display: flex;
}

.hero__left-side {
  position: relative;
  width: 100px;
  display: flex;
  align-items: flex-end;
}

.hero__media-list {
  transform: rotate(-90deg);
  transform-origin: top left;
}

.hero__right-side {
  background-color: #191c26;
  flex-grow: 1;
  padding-top: 272px;
  padding-bottom: 208px;
  padding-left: 100px;

  background-image: url(../images/hero/slider-img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__undertitle {
  width: 358px;
  margin-bottom: 0;
}
