.nav {
  margin-right: auto;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 16px;

  @media screen and (min-width: 1200px) {
    gap: 30px;
  }
}

.nav__link {
  display: block;
  padding-top: 52px;
  padding-bottom: 52px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--light-txt-cl);

  transition: color var(--anim-fast);

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }
}
