.price {
  @extend %section;

  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--dark-bg-cl);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/price/img_sm-@1x.png);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/price/img_sm-@2x.png);
  }

  // Tablet images
  @media screen and (min-width: 481px) {
    background-image: url(../images/price/img_md-@1x.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/price/img_md-@2x.png);
    }
  }

  // Desktop images
  @media screen and (min-width: 769px) {
    background-image: url(../images/price/img_lg-@1x.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/price/img_lg-@2x.png);
    }
  }
}

.price-block {
  margin-bottom: 44px;

  @media screen and (max-width: 767px) {
    padding: 30px 40px;
    font-size: 14px;
  }

  // проміжок включає мобільні пристрої і планшети до десктопу
  @media screen and (max-width: 1199px) {
    padding: 32px 40px;
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    perspective: 1000px;
  }
}

.price-list {
  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: 570px;
    padding: 30px 20px;

    transition: transform var(--anim-fast);
  }

  &:hover {
    transform: rotateY(0);
  }

  &:first-child {
    @media screen and (min-width: 1200px) {
      background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
      transform: rotateY(15deg);
      transform-origin: left center;
    }
  }

  &:last-child {
    margin-bottom: 0;
    @media screen and (min-width: 1200px) {
      background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
      transform: rotateY(-15deg);
      transform-origin: right center;
    }
  }
}

.price-item {
  display: flex;
  align-items: baseline;
  gap: 12px;

  color: var(--grey-cl);

  @media screen and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 20px;
  }

  &:last-child {
    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
    }
  }

  &::before {
    content: '';
    display: block;
    height: 1px;

    flex-grow: 1;

    background-color: rgba(157, 164, 189, 0.12);
  }
}

.price-item-serv {
  order: -1;
}

.price-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
