.team {
  @include section;
  background-color: #f7f7f7;
}

.team-container {
  @include mq(not-desk) {
    max-width: 450px;
  }
}

.team-title {
  margin-bottom: 44px;
}

.team-list {
  @include mq(not-desk) {
    --items: 1;
  }
}

.team-wrap {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.team-name {
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
}

.team-position {
  margin-bottom: 30px;

  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--accent-txt-cl);
}
